In [ ]:
#  Last amended:06th September, 2021
#  Myfolder: /home/ashok/Documents/spark

# Exercises for students

### pyspark APIs<br>
> i)  [DataFrame APIs](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql.html#dataframe-apis)<br>
>> df.select(columnName).where(colObject > 30).orderBy(desc(columnName))<br>
>> df.select(columnName).where("colName > 30").orderBy(desc(columnName))<br>

> ii) [Column APIs](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql.html#column-apis)<br>
>> df.select(df.age.isNull())<br>
>> df.select(df["age"].isNull())<br>
>> df.select(col("age").isNull())<br>

> iii)[Data Tyoes](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql.html#data-types)<br>
> iv) [Functions](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql.html#functions)<br>
>> df.select(sum("age"))<br>
>> df.select(sum(col(booleanColumn).cast("int")))<br>
>> <u>but you must import the functions</u>

> v)  [Grouping](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql.html#grouping)<br>

A. Initial operations:<br>
Start hadoop in a terminal:

            ./allstart.sh

## Transfer files to hadoop

In [ ]:
# 1.1 Transfer data file 'blackfridayless.csv' 
#     from linux foder:     /cdata/misc_datasets/black_friday/
#     to hadoop at:   /user/ashok/datadir/ 


"""

cd ~
hdfs dfs -rm -f -r  /user/ashok/datadir
hdfs dfs -mkdir /user/ashok/datadir
hdfs dfs -put /cdata/misc_datasets/black_friday/blackfridayless.csv  /user/ashok/datadir
hdfs dfs -ls /user/ashok/datadir






"""

## Set jupyter notebook options
Start pyspark with jupyter notebook interface. There is no need to create SparkContext and Spark session. pyspark creates them when starting.

In [ ]:
# 1.2 Display multiple outputs from a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
# 1.3 Increase cell width to display wide columnar output
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

### Read the csv file from hadoop

In [ ]:
###### Read file 'blackfridayless.csv' from hadoop
# 1.4 Here is a skelton code for you. Fill up question marks (?):

blackfriday = spark.read.csv(
                             path =  ? ,
                             inferSchema = ? ,        # Choices: True. False
                             header = True,           # Choices: True, False
                             sep = ",",               
                             ignoreLeadingWhiteSpace = ? ,    # Choices: True, False
                             ignoreTrailingWhiteSpace = ?     # Choices: True, False
    
                            )

## Explore the dataframe

In [ ]:
# 1.5   Display few rows of dataframe
# 1.5.1 What are the column names
# 1.5.2 Show dtypes

In [ ]:
# 1.6 Use printSchema() to display schema of blackfriday DataFrame

In [ ]:
# 1.7 Describe the statistics of DataFrame, blackfriday

In [ ]:
# 1.8 Using 'select' clause, display 5-rows of only three columns: userId, gender and age

In [ ]:
# 1.9 Count How many distinct userId are there 
# 1.9.1 Count how many distinct age-groups exist
# (use count() and distinct())

In [ ]:
# Call the following functions
from pyspark.sql.functions import isnan, isnull,col, sum, max, min

In [ ]:
# 2.0 In productCat2, fill null values with 999 
#     Use:  na.fill()

In [ ]:
# 2.1 Transform spark dataframe, blackfriday, to pandas dataframe:
#     using toPandas()

In [ ]:
# 2.2 Show the value counts of levels of the column 'cityCategory':
#     Use groupBy() and count()

In [ ]:
# 2.3 Perform a stratified sampling of data.
#     Stratified sampling be by column: 'cityCategory'
#     Take 80% from 'B' and 20% from 'C'
#     Use method   sampleBy(    )

## Using verbs
select, <i>select(x).where()</i>, <i>select().distinct()</i>, filter, groupby

### select syntax
> DataFrame.select(\*cols)<br>
> cols: column names (string) or expressions (Column). If one of the column names is ‘*’, that column is expanded to include all columns in the current DataFrame.

In [ ]:
# 3.0 Display columns 3rd, 4th and 5th

### filter syntax
>DataFrame.filter(condition)<br>
>condition: <i>columnObject > 34</i> or string format: <i>"age > 34 AND balance < 60"</i>
>>  df.age > 3 --same as-- col("age") > 3<br>
>>  "age > 3" <br>
>>Logical Operators<br>
>>> If string: AND OR NOT<br>
>>> If columnObject: &, |, ~ <br>

In [ ]:
# 3.1 Filter purchases less than 9000

In [ ]:
# 3.2 Filter purchases less than 9000 and maritalStatus is 0

In [ ]:
# 3.3 Filter purchases less than 9000 or maritalStatus is 0

## Aggregation with groupby
Use: <i>.agg({'colName1' : 'mean', 'colName2' : 'sum'})</i> <br>
>1. With <i>agg()</i> if you are using dictionary one can then use only builtin functions and not any other <i>pyspark.sql.function</i>.<br>
Some common functions are: <i>mean, avg, sum, count, first, last,stddev </i>. There is no need to import builtin function in advance.<br>
For a complete list of builtin functions see [here](https://sparkbyexamples.com/pyspark/pyspark-aggregate-functions/).<br>
2. You can also use a pyspark.sql.function, as: .agg(sum(df.age), min(col("purchase")) )<br>

#### First on the whole dataset

In [ ]:
# 4.0 Find the max of 'age' column and 'min' of purchase column

In [ ]:
# 4.1 Find max and min of purchase

### Next on a subset grouped by column
Questions:
>1. How many airports are there timezone-wise ('tz')
2. What is the mean latitude (lat), timezone-wise

In [ ]:
# 5.0  Get userID wise average purchases
# 5.1  Get productID wise std deviation in purchases
# 5.2  Get cityCategory and maritalStatus wise average age and avg purchase

from pyspark.sql.functions import avg, expr

## Column manipulation

In [ ]:
# 6.0 Create a new column in blackfriday which is product of 
#     purchase and stayCityYears
#     Use withColumn()

In [ ]:
# 6.1 Change the name of age colymn to age_cat

blackfriday.withColumnRenamed('age', 'age_cat')

## Misc

In [ ]:
# 7.0 From blackfriday drop column 'age'

In [ ]:
# 7.1 From blackfriday, drop two columns, 'age' and 'purchase'

In [ ]:
########### Finish ####################